* {
  margin: 0 auto;
}

@font-face {
  font-family: 'Brown';
  src: url(/Assignment2/Font-family/brownpro-bold.otf);
}

@font-face {
  font-family: 'Brown light';
  src: url(/Assignment2/Font-family/brownpro-regular.otf);
}

@font-face {
  font-family: 'Sofia pro';
  src: url(/Assignment2/Font-family/sofiapro-light.otf);
}

@font-face {
  font-family: 'Brown thin';
  src: url(/Assignment2/Font-family/brownpro-thin.otf);
}



body {
  width: 100%;
  background-color: #2ec4b609;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;

}

.left-side {
  border: 1px;
  width: 28.75rem;
  height: 18rem;
  font-family: 'Brown';
  margin: 2rem;
  position: relative;
  top: 5.625rem;

}

#logo {
  width: 4.833rem;
  height: 4.8rem;
  top: 12.8rem;
  left: 8.8rem;
}

#title {
  position: static;
  width: 16.75rem;
  height: 3.125rem;
  top: 21rem;
  left: 8.75rem;
  font-family: 'Brown';
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: -0.05rem;
  text-align: left;
  color: #000B0A;
  font-family: 'Brown';
  margin: 1.875rem 0;

}

#text {
  font-family: 'Brown light';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #737373db;
  width: 30rem;
  height: 4.7rem;
}

.right-side {
  position: relative;
  width: 36.25rem;
  height: 42.4rem;
  border: 0.063rem;
  padding: 1rem;
  font-family: 'Sofia pro';
  background-color: white;
  border-radius: 0.375rem;
  margin: 3rem 2.875rem;
  box-shadow: 0 4px 50px 0 rgba(4, 8, 19, 0.10);
  display: flex;
  flex-direction: column;
}

.user-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-block: 1rem;
  margin: 16px 14px;
}

.input {
  width: 16rem;
  height: 3rem;
  border-radius: 2px;
  border: 1px solid var(--CL-Gray-3, #F0F0F0);
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-block: 1rem;
  margin: 16px 14px;
}

#activity {
  width: 550px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid var(--CL-Gray-3, #F0F0F0);
}

#password {
  width: 550px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid var(--CL-Gray-3, #F0F0F0);
}

#password-icon {
  position: relative;
  top: -25px;
  right: -250px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(/Assignment2/show.png);
  background-size: cover;
}

#register {
  width: 34.125rem;
  height: 3rem;
  color: var(--Basic-100, #FFF);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0125rem;
  background-color: #2EC4B6;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.10);
  border-radius: 2px;
  border: 1px solid var(--CL-Gray-3, #F0F0F0);
}

.terms {
  width: 29rem;
  height: 1.6rem;
  font-size: 0.875rem;
  font-family: 'Sofia pro';
  font-weight: 600;
  line-height: 1.5625rem;

}

a {
  color: #078578;
}

.input-name {
  color: #011C34;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

#fname {
  border-color: #2EC4B6;
}

#agree {
  visibility: hidden;
}

select {
  color: #737373;
}

input[type="date"] {
  color: #737373;
}

@media (min-width: 320px) and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 23.438rem;
    height: 80.575rem;
    margin: 20px;
  }

  .left-side {
    width: 20.438rem;
    height: 16.563rem;
    top: 0.625rem;
  }

  #logo {
    transform: scale(0.7);
    position: relative;
    top: 12px;
    left: -25px;
  }


  #text {
    visibility: hidden;
    position: relative;
    font-family: 'Brown thin';

  }

  #text::before {
    visibility: visible;
    content: "Inspiring wholesome harmony for the mind, body and spirit, for everyone, everywhere.";
    font-size: 1.125rem;
    width: 21.438rem;
    height: 3.125rem;
    display: -webkit-box;
  }

  .user-details {
    flex-direction: row;
  }

  .right-side {
    width: 20.438rem;
    height: 52.5rem;
    margin: 2.5rem 2.875rem;
    top: -0.625rem;
  }

  .input {
    width: 295px;
    border-radius: 2px;
    border: 1px solid var(--CL-Gray-3, #F0F0F0);
  }

  .flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  #activity {
    width: 295px;
    border-radius: 2px;
    border: 1px solid var(--CL-Gray-3, #F0F0F0);
  }

  #password {
    width: 295px;
    border-radius: 2px;
    border: 1px solid var(--CL-Gray-3, #F0F0F0);
  }

  #password-icon {
    top: -25px;
    right: -125px;
  }

  #register {
    width: 295px;
  }

  .terms {
    visibility: hidden;
  }

  #agree {
    margin: 1rem;
    font-family: 'Sofia pro';
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    visibility: visible;
  }
}